@{
    ViewData["Title"] = "Cards";
}

<div id="cards_page">

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">

                    <div class="breaksection"></div>
                        
                    <h1>Pick from the various cards</h1>
                    <h2>One for every purpose.</h2>

                    <div class="breaksection"></div>

            </div>
        </div>
    </div>
</header>
<!-- End of page header -->

<div class="lightgrey_background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                 <!-- Import Large Cards -->
                @await Html.PartialAsync("Sections/_CardSection")

                <div class="breaksection"></div>

                <!-- Import Smaller Cards -->
                @await Html.PartialAsync("Sections/_OptionsSection")

                <!-- Import Square Cards -->
                @await Html.PartialAsync("Components/_SquareCardComponent")
                @await Html.PartialAsync("Components/_SquareCardComponent")
                @await Html.PartialAsync("Components/_SquareCardComponent")

            </div>
        </div>
    </div>
</div>

    

</div>