@{
    ViewData["Title"] = "Dropdown";
}

<div id="dropdown_page">

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">

                    <div class="breaksection"></div>

                    <h1>Create a dropdown.</h1>
                    <h2>Make selection simple.</h2>

                    <div class="breaksection"></div>

            </div>
        </div>
    </div>
</header>
<!-- End of page header -->

<!-- Component Section -->
<div class="lightgrey_background">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">

                <div class="breaksection"></div>

                <!-- Import Dropdown Component -->
                @await Html.PartialAsync("Components/_DropdownComponent")

                <div class="breaksection"></div>

            </div>
        </div>
    </div>
</div>
<!-- / Component Section -->

</div>
<!-- / Dropdown Page -->