@{
    ViewData["Title"] = "FAQ";
}

<div id="faq_page">

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">

                    <div class="breaksection"></div>

                    <h1>Create a FAQ</h1>
                    <h2>Provide information to users</h2>

                    <div class="breaksection"></div>

            </div>
        </div>
    </div>
</header>
<!-- End of page header -->

<!-- Component Section -->
<div class="lightgrey_background">   
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                    <div class="breaksection"></div>

                    <!-- Import FAQ Section -->
                    @await Html.PartialAsync("Sections/_FaqSection")

                    <div class="breaksection"></div>

            </div>
        </div>
    </div>
</div>
<!-- / Component Section -->

</div>
<!-- / FAQ Page -->