@{
    ViewData["Title"] = "Forms";
}

<div id="forms_page">

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">

                    <div class="breaksection"></div>
                        
                    <h1>A selection of forms</h1>
                    <h2>Pass the right information.</h2>

                    <div class="breaksection"></div>

            </div>
        </div>
    </div>
</header>
<!-- End of page header -->

<!-- Component Section -->
<div class="lightgrey_background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="breaksection"></div>

                <!-- Import Form Component -->
                @await Html.PartialAsync("Components/_FormComponent")

                <div class="breaksection"></div>


            </div>
        </div>
    </div>
</div>
<!-- / Component Section -->

</div>
<!-- / Form Page -->