@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="site-heading">

                    <div class="breaksection"></div>

                    <h1>Get Started</h1>
                    <h2>A flexible .NET Core 1.1.1 Template</h2>

                    <br>

                    <ul class="list-inline">
                        <li>
                            <a id="scrollBtn" class="btn__solid_green" href="#large_icon_section">Read More</a>
                        </li>
                        <li>
                            <a class="btn__line" target="_blank" href="https://github.com/kristofferandreasen/AspNetCoreBoilerplate">Source Code</a>
                        </li>
                    </ul>

                    <br>

                    <img class="img-responsive" src="@Url.Content("~/images/browsertop.png")" alt="">

                </div>
            </div>
        </div>
    </div>
</header>
<!-- End of page header --> 

<div class="breaksection"></div>

<!-- Import Icon Section -->
@await Html.PartialAsync("Sections/_LargeIconSection")

<div class="breaksection"></div>

<!-- Image Section -->
<div class="topborder">
    @await Html.PartialAsync("Sections/_ImageSection")
</div>

<!-- Import Image component -->
@await Html.PartialAsync("Sections/_LargeImageSection")

<!-- Import Feature Section -->
@await Html.PartialAsync("Sections/_FeatureSection")

<!-- Testimonials Section -->
<div class="row text-center topborder">
    <div class="col-md-12">
        <div class="breaksection"></div>
        <h5 class="subtitle">Listen to the users</h5>
        <h3>What are the customers saying?</h3>
    </div>
</div>

@await Html.PartialAsync("Sections/_TestimonialsSection")

<!-- Import CTA component -->
@await Html.PartialAsync("Sections/_CtaSection")
    