@{
    ViewData["Title"] = "Large Image";
}

<div id="largeimage_page">

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">

                    <div class="breaksection"></div>

                    <h1>Image Section</h1>

                    <div class="breaksection"></div>

            </div>
        </div>
    </div>
</header>
<!-- End of page header -->
<div class="lightgrey_background">   
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                    <div class="breaksection"></div>

                    <!-- Import Large Image Section -->
                    @await Html.PartialAsync("Sections/_LargeImageSection")

                    <div class="breaksection"></div>

            </div>
        </div>
    </div>
</div>

</div>