@{
    ViewData["Title"] = "Modal";
}

<div id="modal_page">

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">

                    <div class="breaksection"></div>
                        
                    <h1>Different Modals for your site</h1>

                    <div class="breaksection"></div>

            </div>
        </div>
    </div>
</header>
<!-- End of page header -->

<div class="lightgrey_background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="breaksection"></div>

                <!-- Import Modal Component -->
                @await Html.PartialAsync("Components/_ModalComponent")

                <div class="breaksection"></div>


            </div>
        </div>
    </div>
</div>

    

</div>