@{
    ViewData["Title"] = "Modal";
}

<div id="modal_page">

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">

                    <div class="breaksection"></div>
                        
                    <h1>Modals</h1>
                    <h2>Prompt the users with the right choices.</h2>

                    <div class="breaksection"></div>

            </div>
        </div>
    </div>
</header>
<!-- End of page header -->

<!-- Component Section -->
<div class="lightgrey_background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Simple Modal Section -->
                <div id="modal_section">
                    <div class="container"> 
                        <div class="row">
                                <div class="col-md-12">
                                
                                <div class="text-center">

                                    <!-- Modal Header visible on the page -->
                                    <h3 class="subheader blue">Simple Modal Example</h3>

                                    <!-- Trigger/Open The Modal -->
                                    <button class="btn__solid_green" id="my_Simple_Modal_Btn">Open Simple Modal</button>

                                </div>

                                <!-- Import Simple Modal Component -->
                                @await Html.PartialAsync("Components/_ModalSimpleComponent")

                                </div>
                        </div>
                    </div>
                </div>
                <!-- / Simple Modal Section -->

                <!-- Modal Section -->
                <div id="modal_section">
                    <div class="container"> 
                        <div class="row">
                                <div class="col-md-12">
                                
                                <div class="text-center">

                                    <!-- Modal Header visible on the page -->
                                    <h3 class="subheader blue">Modal Example</h3>

                                    <!-- Trigger/Open The Modal -->
                                    <button class="btn__solid_green" id="myBtn">Open Modal</button>

                                </div>

                                <!-- Import Modal Component -->
                                @await Html.PartialAsync("Components/_ModalComponent")

                                </div>
                        </div>
                    </div>
                </div>
                <!-- / Modal Section -->

                <div class="breaksection"></div>

            </div>
        </div>
    </div>
</div>
<!-- / Component Section -->

</div>
<!-- / Modal Page -->