@{
    ViewData["Title"] = "Product";
}

<div id="product_page">

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">

                    <div class="breaksection"></div>

                    <h1>Showcasing a product</h1>
                    <h2>Sell your product right.</h2>

                    <div class="breaksection"></div>

            </div>
        </div>
    </div>
</header>
<!-- End of page header -->

<div class="lightgrey_background">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">

                <div class="breaksection"></div>

                <!-- Import Product Component -->
                @await Html.PartialAsync("Components/_ProductComponent")

                <div class="breaksection"></div>

            </div>
        </div>
    </div>
</div>

</div>

