@{
    ViewData["Title"] = "Search";
}

<div id="search_page">

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">

                    <div class="breaksection"></div>

                    <h1>Implement search</h1>
                    <h2>Minimalistic or regular</h2>

                    <div class="breaksection"></div>

            </div>
        </div>
    </div>
</header>
<!-- End of page header -->

<!-- Component Section -->
<div class="lightgrey_background">
<div class="container">
    <div class="row">
        <div class="col-md-12">

                <div class="breaksection"></div>

                <!-- Import Simple Search Component -->
                @await Html.PartialAsync("Components/_SearchComponent")

                <div class="breaksection"></div>

        </div>
    </div>
</div>
<!-- / Component Section -->

<!-- Component Section -->
<div class="container lightgrey_background">
    <div class="row">
        <div class="col-md-12">

                <div class="breaksection"></div>

                <!-- Import Large Search Component -->
                @await Html.PartialAsync("Components/_SearchComponentLarge")

                <div class="breaksection"></div>

        </div>
    </div>
</div>
<!-- / Component Section -->

<!-- Component Section -->
<div class="container lightgrey_background">
    <div class="row">
        <div class="col-md-12">

                <div class="breaksection"></div>

                <!-- Import Medium Search Component -->
                @await Html.PartialAsync("Components/_SearchComponentMedium")

                <div class="breaksection"></div>

        </div>
    </div>
</div>
<!-- / Component Section -->

</div>
<!-- / Lightgrey container -->

</div>
<!-- / Search Page -->