<footer>
	<section class="links">
		<div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul>
                        <li class="footer_headline">The Product</li>
                        <li><a href="/is">Product</a></li>
                        <li><a href="/enterprise">Enterprise</a></li>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="https://get.slack.help/hc">Support</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li class="footer_headline">The Company</li>
                        <li><a href="/jobs" target="_blank">Jobs</a></li>
                        <li><a href="/customers" target="_blank">Customers</a></li>
                        <li><a href="/developers" target="_blank">Cases</a></li>
                        <li><a href="http://www.nnit.com/" target="_blank">News</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li class="footer_headline">Social</li>
                        <li><a href="/privacy-policy">Website</a></li>
                        <li><a href="/security">Facebook</a></li>
                        <li><a href="/terms-of-service">Twitter</a></li>
                        <li><a href="/policies">LinkedIn</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li class="footer_headline">Information</li>
                        <li><a href="/downloads">Downloads</a></li>
                        <li><a href="/downloads">References</a></li>
                        <li><a href="/brand-guidelines">Cases</a></li>
                        <li><a id="scrollToTop">To Top</a></li>
                    </ul>
                </div>
            </div>
        </div>
	</section>

    <!-- Breaks to provide space in the footer -->
    <br />  
    <br />
    <br />  
    <br />   

    <!-- Footer bottom with social icons -->
	<div class="footnote text-center">
		<section>
			<ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
		</section>
	</div>
</footer>