@{
    ViewData["Title"] = "Error";
}

<div id="error_page">

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                
                    <div class="breaksection"></div>

                    <h1>Error</h1>
                    <h2>An error occurred while processing your request</h2>

                    <div class="breaksection"></div>
                
            </div>
        </div>
    </div>
</header>
<!-- End of page header -->

<!-- Component Section -->
<div class="lightgrey_background">   
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                    <div class="breaksection"></div>
                        
                        <div class="card">
                        <h3>Development Mode</h3>
                        <p>
                            Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
                        </p>
                        <p>
                            <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
                        </p>
                        </div>

                    <div class="breaksection"></div>
                    
            </div>
        </div>
    </div>
</div>
<!-- / Component Section -->

</div>
<!-- / CTA Page -->
