<!-- Dropdown Component -->
<div class="dropdown" onclick="rotateImage()">
  <button class="dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <img id="rotate_element" class="dropdown_image" src="@Url.Content("~/images/icons/down-arrow.svg")" alt=""></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>
<!-- End of Dropdown Component -->