<!--Form -->
<div class="company-name-container">
    <form action="">
        <input type="text" name="input" value="" placeholder="Your form">
        <button type="submit" target="_blank" class="button huge">Some Action</button>
    </form>
</div>
<!-- End Form -->