<!-- The Simple Modal -->
<div id="mySimpleModal" class="simple_modal">
    <div class="modal-content">
        <div class="row center_row">

            <!-- The Exit Icon -->
            <span class="close">&times;</span>

            <!-- Column -->
            <div class="col-md-12">
                <div class="modal_padding">

                    <!-- Large Icon / Image -->
                    <img class="modal_image_padding" src="@Url.Content("~/images/icons/student.png")" alt="">

                    <!-- Centered Content -->
                    <h5>Your Modal Message</h5>
                    <p>The text could describe what you are selling or offering.</p>
                    <a class="btn__solid" asp-area="" asp-controller="Home" asp-action="Index">CTA Button</a>

                </div>  
            </div>
            <!-- / Column -->

        </div>
    </div>
</div>
<!-- / Simple Modal -->