<!-- Product Component -->
<div id="product_component">
    <div class="row">
        <div class="right_half"></div>
        <div class="col-md-6 text-center">
            <img class="img-responsive" src="@Url.Content("~/images/bakery.jpeg")" alt="">
            <h3 class="subtitle">Croissant</h3>
            <span class="price">$145.99</span>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
</div>
<!-- End of Product Component -->