<form class="medium-search-block-form" action="" method="" id="medium-search-block-form" accept-charset="UTF-8">
    <div>
        <div class="form-item form-type-textfield form-item-keys">
            <label for="edit-keys">Type to search and hit Enter </label>
            <input placeholder="Searchword" type="text" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-text" />
        </div>
        <input type="submit" id="edit-submit" name="op" value="Search" class="form-submit" />
        <input type="hidden" name="form_build_id" value="" />
        <input type="hidden" name="form_id" value="medium_search_block_form" />
    </div>
</form>