<!-- Search Component -->
<div id="search_component">
    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
            <input type="text" class="form-control input-lg" placeholder="Search..." />
        </div>
    </div>
</div>
<!-- End of Search Component -->