/*------------------------------------------------------------------------------------------------*/
/*----------- AspNetCoreBoilerplate CSS template */
/*------------------------------------------------------------------------------------------------*/

/*

*     TABLE OF CONTENTS:

*     GENERAL STYLES

*     General styles
*     Helper styles
*     Typography
*     Buttons
*     Navigation Bar
*     Dropdown
*     Header
*     Card
*     Customer Section
*     CTA Section
*     Card Section
*     Image Section
*     Sign Up
*     Footer

*     COMPONENTS

*     Cards
*     Table
*     Forms
*     Search
*     Dropdown
*     Simple Modal

*     SECTIONS

*     Icon Section
*     FAQ Section
*     CTA Section
*     Image Section
*     Testimonials Section

*     COLORS

*     Red:          #FF6161
*     Blue:         #5091bd
*     Green:        #24b47e
*     Turqoise:     #8AD6D0
*     Purple:       #6973DB
*     Yellow:       #FFE164
*     Black:        #555459
*     Almost Black: #666666
*     Light-grey:   #F9F9F9
*     White:        #FFF
*     Border:       #E8E8E8 

*/

/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* General styles */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

body a {
  text-decoration: none;
  color: #6772e5;
}
body a:hover {
  text-decoration: none;
  color: #666666;
}

#main_content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.lightgrey_background {
  background-color: #F9F9F9;
}
.turqoise_background {
  background-color: #F9F9F9;
}
.white {
  color: #FFF;
}
.black {
  color: #666666;
}
.blue {
  color: #5091bd;
}

/* Border classes to add to elements for a simple border */
.topborder {
  border-top: 1px solid #E8E8E8;
}
.bottomborder {
  border-top: 1px solid #E8E8E8;
}

/* A card page that can always be used to wrap elements */
.card {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  background-color: #FFFFFF;
  margin-bottom: 30px;
  padding: 20px;
}
.card .header {
  padding: 15px 15px 0;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* Helper Classes */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

.smallmargin {
  margin: 15px;
}
.smallpadding {
  padding: 15px;
}
.largemargin {
  margin: 30px;
}
.largepadding {
  padding: 30px;
}
.breaksection {
  height: 100px;
}
@media only screen and (max-width: 768px) {
  .breaksection {
    height: 50px;
  }
}
.smallbreaksection {
  height: 50px;
}
@media only screen and (max-width: 768px) {
  .smallbreaksection {
    height: 20px;
  }
}
.nopadding {
  padding: 0 !important;
}
.center-row {
	display:table;
}
.center {
	display:table-cell;
    vertical-align:middle;
    float:none;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* Typography styles */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

body {
    font-family: 'Open Sans';
}

p {
    font-size: 18px;
    line-height: 1.58;
    font-weight: 400;
    letter-spacing: -.028em;
    color: #555459;
    opacity: 0.8;
}

h1 {
    font-size: 50px;
    line-height: 1.1;
    font-weight: 800;
    letter-spacing: -0.028em;
    color: #FFF;
    margin: 20px 0 20px 0;
}

h2 {
    font-size: 34px;
    line-height: 1.1;
    font-weight: 300;
    letter-spacing: -0.028em;
    color: #FFF;
    margin: 10px 0 10px 0;
    opacity: 0.7;
}

h3 {
    font-size: 35px;
    line-height: 1.1;
    font-weight: 300;
    color: #666666;
    margin-bottom: 20px;
    letter-spacing: -0.028em;
}

h4 {
    font-size: 26px;
    line-height: 1.1;
    font-weight: 300;
    letter-spacing: -0.028em;
}

h5 {
    font-size: 18px;
    line-height: 1.1;
    font-weight: 700;
    color: #666666;
    letter-spacing: -0.028em;
}

h6 {
    font-size: 20px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.028em;
}
.subtitle {
    font-size: 12px;
    color: #6973DB;
    font-weight: 700;
    letter-spacing: .8px;
    margin-top: 0;
    line-height: 1.416;
    text-transform: uppercase;
}
.subheader {
    font-size: 40px;
    line-height: 1.1;
    margin: 20px 0 20px 0;
    font-weight: 300;    
}
.itemheader {
  font-size: 14px;
  text-transform: uppercase;
  color: #666666;
  font-weight: 700;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/*----------- Buttons */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

.btn__solid_green {
    border: 0;
    border-radius: 4px;
    padding: 10px 20px 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    background-color: #8AD6D0;
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 12px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
}
.btn__solid_green:hover {
    border: 0;
    border-radius: 4px;
    padding: 10px 20px 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    background-color: #8AD6D0;
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 12px;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
}
.btn__solid_purple {
    border: 0;
    border-radius: 4px;
    padding: 10px 20px 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    background-color: #6973DB;
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 12px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
}
.btn__solid_purple:hover {
    border: 0;
    border-radius: 4px;
    padding: 10px 20px 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    background-color: #6973DB;
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 12px;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
}
.btn__line {
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    border-radius: 5px;
    padding: 10px 20px 10px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 1px;
    min-width: 100px;
    text-transform: uppercase;
    white-space: normal;
    color: #fff;
    box-shadow: 0 0 0 2px #fff inset;
    background-color: transparent;
}
.btn__line:hover {
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    border-radius: 5px;
    padding: 10px 20px 10px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 1px;
    min-width: 100px;
    text-transform: uppercase;
    white-space: normal;
    color: #0085A1;
    box-shadow: 0 0 0 2px #fff inset;
    background-color: #fff;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/*----------- Navigation Bar */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-brand img {
  max-height: 30px;
  width: auto;
  position: absolute;
  top: 13px;
}
.navbar-custom .navbar-header .navbar-toggle {
  color: #777777;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: #666666;
    padding: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: #FFF;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li ul.dropdown-menu a {
    color: #333333;
  }
  .navbar-custom .nav li ul.dropdown-menu a:hover,
  .navbar-custom .nav li ul.dropdown-menu a:focus {
    color: #0085A1;
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #333333;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085A1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #333333;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085A1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

/*------------------------------------------------------------------------------------------------*/
/*----------- Dropdown - The dropdown in the navigation bar */
/*------------------------------------------------------------------------------------------------*/

/* Dropdown Menu */
.navbar-nav > li > .dropdown-menu {
  padding: 0;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition:         all 0.5s  ease;
  -moz-transition:    all 0.5s  ease;
  -webkit-transition: all 0.5s  ease;
  -o-transition:      all 0.5s  ease;
  -ms-transition:     all 0.5s  ease;
}
.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}
.dropdown {
  display: inline-block;
}
.navbar-btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Dropdown Menu Link */
.dropdown-menu > li > a {
    display: block;
    padding: 10px 25px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/*----------- Header styles */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

/* This header is for all the headers on all pages */
.intro-header {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.site-heading img {
  text-align: center;
  max-height: 400px;
  width: auto;
  z-index: 2;
  box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  will-change: transform, box-shadow;
  margin: 0 auto;
}
.site-heading img:hover {
  transform: translateY(-5px) translateZ(0);
  box-shadow: 0 16px 32px 0 rgba(62,57,107,0.28), 0 0 0 transparent;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/*----------- COMPONENTS - Find all the individual components here */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------- */
/*----------- Card Component */
/* ----------------------------------------------------------------------------------------------------------- */
#card_section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F9F9F9;
}
#card_section img {
  border: 3px solid #E8E8E8;
  border-radius: 50%;
}
#card_section .card {
  background-color: #FFF;
  padding: 30px;
  margin: 0 15px;
  border-radius: 5%;
  box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
}
#card_section .card:hover {
  transform: translateY(-5px) translateZ(0);
  box-shadow: 0 16px 32px 0 rgba(62,57,107,0.28), 0 0 0 transparent;
}
.elevation {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  will-change: transform, box-shadow;
}

/* ----------------------------------------------------------------------------------------------------------- */
/*----------- Card Component 2 */
/* ----------------------------------------------------------------------------------------------------------- */
.large_app_card {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #E8E8E8;
}
.featured_app {
  background-color: #F2F2F2;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
  border-bottom: 1px solid #E8E8E8;
  height: 170px;
}
.featured_app img {
  max-width: 250px;
  max-height: 170px;
  vertical-align: middle;
  margin: 0 auto;
  padding: 25px;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.large_app_card:hover {
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.15);
  text-decoration: none;
  transition: box-shadow .15s ease-out;
}
.card_text_area {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #FFF;
  padding: 1.5rem;
}
.card_headline {
  font-size: 16px;
  font-weight: 900;
  line-height: 15px;
  margin: 0 0 0.5rem;
}
.card_text {
  font-size: 13px;
}
.margin_bottom {
  margin-bottom: 25px;
}

/* ----------------------------------------------------------------------------------------------------------- */
/*----------- Table Component */
/* ----------------------------------------------------------------------------------------------------------- */
.table {
  margin-bottom: 0;
  width: 100%;
}
.table th {
  border-bottom-width: 1px;
  font-size: 12px;
  text-transform: uppercase;
  color: #9A9A9A;
  font-weight: 400;
  padding-bottom: 5px;
}
.table > tbody > tr > td {
  padding: 15px 8px;
  width: 25%;
  vertical-align: middle;
}
.table th:first-child {
  padding-left: 15px;
}
.table td:first-child {
  padding-left: 15px;
}
#table_component .card {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  background-color: #FFFFFF;
  margin-bottom: 30px;
  padding: 0;
}

/* ----------------------------------------------------------------------------------------------------------- */
/*----------- Simple Form Component */
/* ----------------------------------------------------------------------------------------------------------- */
.simpleform input {
    height: 38px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.simpleform button {
    line-height: 1.42857143;
}

/* ----------------------------------------------------------------------------------------------------------- */
/*----------- Minimal Form Component */
/* ----------------------------------------------------------------------------------------------------------- */
.minimal input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    font-size: 22px;
    letter-spacing: .2px;
    padding: 5px;
}
/* ----------------------------------------------------------------------------------------------------------- */
/*----------- Form Component */
/* ----------------------------------------------------------------------------------------------------------- */
.company-name-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
form {
    margin: 0;
}
.company-name-container input {
    padding: 18px 20px;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    letter-spacing: .2px;
    border-radius: 4px 4px 0 0;
}
.company-name-container input:focus {
    border-width: 2px;
    border-color: #3e68ff;
}
.company-name-container input {
    border: 1px solid #d3d9dc;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    width: 100%;
    display: inline-block;
    background: #fff;
    font-weight: 500;
    color: #333;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    border-bottom: none;
}
.company-name-container .button.huge {
    width: 100%;
    border-radius: 0 0 4px 4px;
    font-size: 19px;
    font-weight: 600;
    display: block;
    color: #fff;
    padding: 23px 90px;
}
.button {
    text-transform: none;
    letter-spacing: 0;
    font-size: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,.1);
    background-color: #3e68ff;
    transition: all 200ms cubic-bezier(.03,1.12,.64,.99);
    border: 0;
}
.button:hover {
    transform: scale(1.02);
}

/* ----------------------------------------------------------------------------------------------------------- */
/*----------- Options Section */
/* ----------------------------------------------------------------------------------------------------------- */
#options_section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F9F9F9;
}
#options_section img {
  max-height: 70px;
  width: auto;
  padding: 10px;
}
#options_section h3 {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
}
#options_section p {
  margin: 0;
}
#options_section .media-body {
    display: table-cell;
    vertical-align: middle;
}
#options_section .media-middle {
    vertical-align: middle;
}

#options_section .media-left {
    display: table-cell;
}

#options_section .card {
  display: table;
  background-color: #FFF;
  padding: 16px;
  margin-bottom: 32px;
  height: 130px;
  border-radius: 3%;
  box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
}
#options_section .card:hover {
  transform: translateY(-5px) translateZ(0);
  box-shadow: 0 16px 32px 0 rgba(62,57,107,0.28), 0 0 0 transparent;
}

/* ----------------------------------------------------------------------------------------------------------- */
/*----------- Simple Search Component - First on page */
/* ----------------------------------------------------------------------------------------------------------- */

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-right: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-right: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

/* ----------------------------------------------------------------------------------------------------------- */
/*----------- Large Search Component - 2nd on page */
/* ----------------------------------------------------------------------------------------------------------- */

#main-search-block-form input[type="text"] {
    width: 70%;
    border: none;
    border-bottom: 1px solid rgba(150,150,150,0.3);
    outline: none;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    font-weight: 800;
    text-decoration: none;
    font-size: 100px;
    line-height: 120px;
    padding-bottom: 8px;
    background: transparent;
}
#main-search-block-form label {
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    font-weight: 300;
    text-decoration: none;
    font-size: 24px;
    line-height: 29px;
    color: #919396;
    padding-top: 20px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
#main-search-block-form .form-submit {
    display: none;
}

/* ----------------------------------------------------------------------------------------------------------- */
/*----------- Medium Search Component - 3rd on page */
/* ----------------------------------------------------------------------------------------------------------- */

#medium-search-block-form input[type="text"] {
    width: 70%;
    border: none;
    border-bottom: 1px solid rgba(150,150,150,0.3);
    outline: none;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    font-weight: 800;
    text-decoration: none;
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 8px;
    background: transparent;
}
#medium-search-block-form label {
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    font-weight: 300;
    text-decoration: none;
    font-size: 18px;
    line-height: 29px;
    color: #919396;
    padding-top: 20px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
#medium-search-block-form .form-submit {
    display: none;
}


/* ----------------------------------------------------------------------------------------------------------- */
/*----------- Dropdown Component */
/* ----------------------------------------------------------------------------------------------------------- */


#dropdown_page .dropdown-toggle {
  font-size: 19px;
  line-height: 24px;
  padding: 15px;
  padding-right: 40px;
  height: 66px;
  display: block;
  width: 100%;
  background-color: #FFF;
  border: solid 1px #E4E4E4;
}
#dropdown_page .dropdown_image {
  width: 20px;
  height: auto;
  position: absolute;
  right: 10px;
  top: 23px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
#dropdown_page .dropdown_image:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
#dropdown_page .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 232px;
    margin: 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0;
    border-radius: 0;
    box-shadow: 0;
    border: 1px solid #ccc;
}
#dropdown_page .dropdown-menu > li > a {
    display: block;
    padding: 11px;
    padding-right: 40px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    border-bottom: 1px solid #ccc; 
}
.rotated-image {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transition:         all 0.5s  ease;
  -moz-transition:    all 0.5s  ease;
  -webkit-transition: all 0.5s  ease;
  -o-transition:      all 0.5s  ease;
  -ms-transition:     all 0.5s  ease;
}

/* ----------------------------------------------------------------------------------------------------------- */
/*----------- Simple Modal */
/* ----------------------------------------------------------------------------------------------------------- */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_padding {
    padding: 25px;
}
#mySimpleModal img {
  max-height: 200px;
  width: auto;
}
.simple_modal_image_padding {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Modal Content/Box */
.simple_modal_content {
    background-color: #fefefe;
    margin: 7% auto;
    border: 1px solid #888;
    width: 40%;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

/* Large size on mobile */
@media only screen and (max-width: 900px) {
    .simple_modal_content {
    width: 90%;
    }
}

/* The Close Button */
.simple_close {
    color: #666666;
    position: absolute;
    right: 22px;
    top: -6px;
    font-size: 28px;
    font-weight: bold;
    z-index: 100;
}

.simple_close:hover,
.simple_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
/*----------- SECTIONS - Here you can find all the items that are more than a simple component    */
/* ---------------------------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------*/
/*----------- Image section */
/*------------------------------------------------------------------------------------------------*/
#image_section {
  padding-bottom: 35px;
  padding-top: 35px;
  border-bottom: 1px solid #E8E8E8;
}

#image_section img {
  max-width: 150px;
  height: auto;
  border: 2px solid #E8E8E8;
  margin-top: 12px;
}

/*------------------------------------------------------------------------------------------------*/
/*----------- FAQ Section */
/*------------------------------------------------------------------------------------------------*/
#faq_section {
  padding-bottom: 30px;
  padding-top: 30px;
}
#faq_section .faq_column {
  padding: 10px;
}
.faq_element {
  min-height: 180px;
}

/*------------------------------------------------------------------------------------------------*/
/*----------- Large Image Section */
/*------------------------------------------------------------------------------------------------*/
#image_component {
    border-bottom: 1px solid #E8E8E8;
}
#image_component .text_padding {
  padding: 10px;
}
#image_component .vertical_align {
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 768px) {
  #image_component .vertical_align {
    display: block;
  }
}
#image_component .background_image {
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: url("../images/coffee.png");
  min-height: 500px;
}

/*------------------------------------------------------------------------------------------------*/
/*----------- Large Icon Section */
/*------------------------------------------------------------------------------------------------*/

#large_icon_section img {
  max-height: 80px;
  width: auto;
  padding: 10px;
}

/*------------------------------------------------------------------------------------------------*/
/*----------- Icon Section */
/*------------------------------------------------------------------------------------------------*/

#icon_section {
  padding-bottom: 50px;
  padding-top: 50px;
  border-bottom: 1px solid #E8E8E8;
}
#icon_section img {
  max-height: 50px;
  width: auto;
  padding-bottom: 10px;
}
#icon_section h5 {
  padding-bottom: 10px;
}

/*------------------------------------------------------------------------------------------------*/
/*----------- CTA Section */
/*------------------------------------------------------------------------------------------------*/
#cta_section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #6772e5;
}

/*------------------------------------------------------------------------------------------------*/
/*----------- Testimonials Section */
/*------------------------------------------------------------------------------------------------*/

/* carousel */
#quote-carousel {
  text-align:center;
  padding: 30px;
  height: 300px;
}
@media only screen and (max-width: 768px) {
  #quote-carousel {
    text-align:center;
    padding: 30px;
    height: 400px;
  }
}
/* Card */
#quote-carousel .card {
    background-color: #FFF;
    border-radius: 10px;
    margin:30px;
    box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
}
/* carousel images */
#quote-carousel .item .testimonial {
  max-width: 150px;
  height: auto;
  border: 5px solid #E8E8E8;
  margin-bottom: 20px;
}
#quote-carousel .quote-left {
  position: absolute;
  left: 10px;
  top: 10px;
}
#quote-carousel .quote-right {
  position: absolute;
  right: 10px;
  top: 10px;
}

/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*----------- Footer */
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/

footer {
  border-top: 1px solid #E8E8E8;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #fff;
  padding: 60px 0 0;
  color: #9e9ea6;
}
.footer_headline {
  font-size: 18px;
  font-weight: 900;
  line-height: 15px;
  margin: 0 0 0.5rem;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
footer ul li {
  color: #555459;
  cursor: pointer;
  font-size: 15px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 15px;
  padding: 4px 8px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.footnote {
  background-color: #F9F9F9;
  padding-top: 20px;
  padding-bottom: 10px;
}