<!-- Card Section -->
<div id="card_section">
        <div class="row text-center">
            <div class="col-md-12">

                <br>

                <!-- First Card -->
                <div class="col-md-4">
                    <div class="card elevation">
                        <div class="header">
                            <img src="@Url.Content("~/images/icons/student.png")" alt="">
                            <h3>Data</h3>
                        </div>
                        <div class="content">
                            <p>Get your data with HTTP requests and more.</p>
                        </div>
                    </div>
                </div>
                <!-- / First Card -->

                <!-- Second Card -->
                <div class="col-md-4">
                    <div class="card elevation">
                        <div class="header">
                            <img src="@Url.Content("~/images/icons/clock.png")" alt="">
                            <h3>Tools</h3>
                        </div>
                        <div class="content">
                            <p>Pick the tool for the job. Flexible and simple.</p>
                        </div>
                    </div>
                </div>
                <!-- / Second Card -->

                <!-- Third Card -->
                <div class="col-md-4">
                    <div class="card elevation">
                        <div class="header">
                            <img src="@Url.Content("~/images/icons/settings.png")" alt="">
                            <h3>Components</h3>
                        </div>
                        <div class="content">
                            <p>Reusable components for your project. Pick the coolest parts.</p>
                        </div>
                    </div>
                </div>
                <!-- / Third Card -->
                

            </div>
       </div>
    </div>
</div>
<!-- End of Card Section -->