<!-- CTA Section -->
<div id="cta_section" class="container-fluid">
    <div class="row text-center">
        <div class="col-md-12">
            <h3 class="subheader white">Get started today</h3>

            <ul class="list-inline">
                <li>
                    <a class="btn__solid_green" asp-area="" asp-controller="Home" asp-action="Index">Get Started</a>
                </li>
                <li>
                    <a class="btn__line" asp-area="" asp-controller="Home" asp-action="Index">Move Along</a>
                </li>
            </ul>

        </div>
    </div>
</div>
<!-- End of CTA Section -->