<!-- FAQ Section -->
<div id="faq_section">
    <div class="container"> 
        <div class="row">
            <div class="col-md-12 faq_column">
                <div class="text-center">
                    <h5 class="subtitle">Help your users</h5>
                    <h3>Get the answer to your questions</h3>
                </div>

                <br>

                <!-- First Column -->
                <div class="col-md-6">
                    <div class="faq_text">

                        <div class="faq_element">
                            <h4>Is the template free?</h4>
                            <p>
                                Yes it is. You can use it for both private and commercial projects. All parts of the project and assets are freely available.
                                However, I encourage you to go to the GitHub repository and find the attributions for the assets and support them.
                            </p>
                        </div>

                        <br>

                        <div class="faq_element">
                            <h4>What can I use it for?</h4>
                            <p>
                                You might have a lot of ideas for your own template. You might not. Having a place to start with components and style often kickstarts your project.
                                You can spend time on the features and functionality rather than creating components with HTML and CSS.
                            </p>
                        </div>

                        <br>

                        <div class="faq_element">
                            <h4>Why ASP.NET Core?</h4>
                            <p>
                                Microsoft is moving towards the future of web apps and they're moving fast.
                                Creating a framework with the newest tools allows for tight integrations with Azure features, which will play a big role in web apps.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- / First Column -->

                <!-- Second Column -->
                <div class="col-md-6">
                    <div class="faq_text">

                        <div class="faq_element">
                            <h4>How do I edit all this?</h4>
                            <p>
                                Go to the GitHub repository and download the latest version. Then you can edit everything you want.
                                Some of the C# might not be relevant for your project. We have simply included it to showcase some basic methods.
                            </p>
                        </div>
                        

                        <br>

                        <div class="faq_element">
                            <h4>Will this repository be maintained?</h4>
                            <p>
                            Yes. We are planning on updating this template to be based on the latest frameworks from Microsoft.
                            When a new major release comes, look for our newest template and start your projects right away with a solid technology stack.
                            </p>
                        </div>

                        <br>

                        <div class="faq_element">
                            <h4>How do I contribute?</h4>
                            <p>
                            We are always looking for people to help us create the best template.
                            If you feel like lending us a helping hand, go to our repository and fork the project.
                            Then add a pull request with your code and we will review it.
                            </p>
                        </div>

                    </div>
                </div>
                <!-- / Second Column -->

            </div>
       </div>
    </div>
</div>
<!-- End of FAQ Section -->