<!-- Feature Section -->
<div class="lightgrey_background">
    <div class="breaksection"></div>
    <div id="feature_section" class="container card">
        <div class="row">

            <div class="breaksection"></div>
            
            <!-- Image Column -->
            <div class="col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2">
                <img src="@Url.Content("~/images/iphoneaspnet.png")" alt="">
                <div class="breaksection"></div>
            </div>
            <!-- / Image Column -->

            <!-- Text Column -->
            <div class="col-md-5">

                    <!-- Spacing -->
                    <div class="breaksection hidden-xs"></div>
                    <h5 class="subtitle">Responsive Design</h5>
                    <h3>Your great feature is ready for the customers</h3>
                    <p>The customers need to know what they are buying into. With a feature like this, you would easily be able to persuade site visitors into customers.</p>
                    <br>
                    <a class="btn__solid_purple" asp-area="" asp-controller="Home" asp-action="Index">Check it out</a>
                    <br>
                    <br>
            </div>
            <!-- / Text Column -->

        </div>
    </div>
    <div class="breaksection"></div>
</div>
<!-- / Feature Section -->