<!-- Icon Section -->
<div id="icon_section" class="container">
    <div class="row">
        
        <!-- Column -->
        <div class="col-md-4">
           <img src="@Url.Content("~/images/color_svg_large/icons8-Support.svg")" alt="">
           <h5>CSS Components</h5>
           <p>
               The template can also be used just for the CSS components and sections.
               Every component contains the relevant styling to copy it to your site.
           </p>
        </div>
        <!-- / Column -->

        <!-- Column -->
        <div class="col-md-4">
            <img src="@Url.Content("~/images/color_svg_large/icons8-Thumbnails.svg")" alt="">
            <h5>C# Methods</h5>
            <p>
               Methods can to a large extend also be reused when creating new applications.
               Browse through them all in the files and pick the ones you need.
            </p>
        </div>
        <!-- / Column -->

        <!-- Column -->
        <div class="col-md-4">
            <img src="@Url.Content("~/images/color_svg_large/icons8-Workflow.svg")" alt="">
            <h5>Feature Rich</h5>
           <p>
               Apart from the font-end components and C# methods, we have though of small things you won't need to worry about.
               The template additionally includes custom error pages based on the thrown exception.
           </p>
        </div>
        <!-- / Column -->

    </div>
</div>
<!-- End of Icon Section -->