<!-- Image section -->
    <div id="image_section" class="container-fluid lightgrey_background">
        <div class="row text-center">
            <div class="col-lg-6 col-md-offset-3">
                <h5 class="subtitle">Get Started Fast</h5>
                <h3>A great framework for apps</h3>
                <p>The new ASP.NET Core is a modern framework for creating applications with the well known C# code. With this layout you cna spend your time focusing on functionality.</p>
            </div>

            <br>
            <br>

            <div class="col-md-4">
                <h4 class="itemheader">Customizable</h4>
                <img class="img-circle" src="@Url.Content("~/images/book.png")" alt="Book Image">
                <div class="col-md-8 col-md-offset-2">
                    <p class="smallmargin">
                        The template does not contain alot of extra code to manage.
                        It's simple to customize to your needs.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="itemheader">Flexible</h4>
                <img class="img-circle" src="@Url.Content("~/images/desk.png")" alt="Desk Image">
                <div class="col-md-8 col-md-offset-2">
                    <p class="smallmargin">
                        The new ASP.NET Core contains integrations with all the modern software.
                        Easily integrate them into your project.
                    </p>
                </div>
            </div> 
            <div class="col-md-4">
                <h4 class="itemheader">Simple</h4>
                <img class="img-circle" src="@Url.Content("~/images/computer.png")" alt="Computer Image">
                <div class="col-md-8 col-md-offset-2">
                    <p class="smallmargin">
                        The included code is just to provide examples of functionality.
                        You can simply use whatever parts you need for your project.
                    </p>
                </div>
            </div>

        </div>
    </div>
    <!-- / Image Section -->