<!-- Image Component Section -->
<div id="image_component" class="container-fluid">
    <div class="row vertical_align">
        
        <!-- Image Column -->
        <div class="col-md-6 background_image">
        </div>
        <!-- / Image Column -->

        <!-- Text Column -->
         <div class="col-md-6">
            <div class="text_padding">
                <h4>Your Headline</h4>
                <p>The text could describe what you are selling or offering.</p>
                <a class="btn__solid" asp-area="" asp-controller="Home" asp-action="Index">CTA Button</a>
            </div>
        </div>
        <!-- / Text Column -->

    </div>
</div>
<!-- End of Image Component Section -->