<!-- Image Component Section -->
<div id="image_component" class="container-fluid">
    <div class="row vertical_align">
        
        <!-- Image Column -->
        <div class="col-md-6 background_image">
        </div>
        <!-- / Image Column -->

        <!-- Text Column -->
         <div class="col-md-4">
            <div class="text_padding">
                <h5 class="subtitle">Lets get down to business</h5>
                <h3>Imagine yourself with a landing page</h3>
                <p>
                    This landing page could quickly be adapted to show your information.
                    Whether it's a SaaS product or a simple company page, this template will allow you to focus on your product and not your page.
                </p>
                <a class="btn__solid_green" target="_blank" href="https://github.com/kristofferandreasen/AspNetCoreBoilerplate">Get Started</a>
            </div>
        </div>
        <!-- / Text Column -->

    </div>
</div>
<!-- End of Image Component Section -->